<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base:: layout(~{:: title}, ~{:: section})}">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-3">
			<div class="row text-center">

				<h1 th:value="${read.title}"></h1>
				<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, natus, dolores eligendi
					possimus dignissimos sequi obcaecati illo totam qui est explicabo provident eius omnis autem nulla
					magni. Perferendis hic dignissimos quis odit esse aut! Velit veritatis similique minus aliquid
					repellat magnam quis laborum distinctio natus ea eius culpa alias quas dicta id tempora provident
					vero, est esse ullam. Ducimus aliquam accusantium minus ipsa, quae modi neque expedita magni eveniet
					iusto quo id reiciendis vel in laboriosam blanditiis voluptatem laudantium odit molestias officia,
					commodi, laborum eos. Asperiores quae eligendi odio cupiditate neque magni error debitis quasi, illo
					earum quis itaque sint tenetur nulla distinctio corrupti nesciunt exercitationem odit, veniam, velit
					incidunt cum quo! Iste perferendis molestias officiis minus harum, voluptatibus facilis ipsum
					accusantium quod iure nulla doloremque excepturi vero? Inventore possimus ut quaerat, amet in aut
					nisi fugiat tempora, odio vitae nam, sequi quos pariatur voluptates illum! Deleniti placeat earum
					dignissimos officia officiis fugiat voluptates sapiente molestiae incidunt praesentium alias
					repellat explicabo tempora exercitationem odio accusantium molestias ratione, vel nostrum sint
					laboriosam quis, delectus ad! Expedita doloribus, at quaerat ad numquam aut repellendus veritatis
					doloremque, placeat vitae praesentium architecto dolorem, nisi sint laboriosam recusandae corporis
					repellat quia quisquam corrupti aliquid quibusdam deleniti. Incidunt distinctio soluta veritatis?
					Magni quidem maxime dolorum recusandae blanditiis expedita eum repellendus perferendis ullam sunt
					quia deleniti quisquam, minus culpa nemo atque odit error, praesentium aperiam enim ratione vel
					temporibus cupiditate assumenda? Consequuntur in nisi porro? Quod voluptas dolorem animi aspernatur
					accusamus sequi, dolorum quo molestiae, non, error exercitationem! Obcaecati dignissimos velit odio
					eveniet animi. Sed perferendis tempora excepturi dicta soluta enim ullam. Pariatur, nesciunt
					facilis. Delectus corrupti, numquam, harum dolorum officia inventore quas reiciendis facere ducimus
					minus necessitatibus nobis qui esse odit, illo maxime sint sed nam velit quis mollitia est. Itaque
					amet culpa magni qui, laudantium, neque rem nobis, non tempore accusamus cupiditate vel id excepturi
					voluptatibus ut magnam dolore odio voluptatem autem eum quis sunt architecto natus. Doloremque omnis
					minima temporibus repellat alias ea culpa impedit beatae quidem. Ut odit veniam cumque velit neque
					modi! Recusandae corporis blanditiis asperiores hic fugiat consectetur eligendi quisquam labore
					possimus voluptate repudiandae quae libero, odio sed deserunt? Explicabo laudantium, incidunt
					voluptatum quasi, maiores nulla molestiae quibusdam illo doloribus, exercitationem sunt ullam
					reprehenderit? Dolorem itaque ad, cum animi blanditiis atque delectus ut vitae ipsam dolore,
					recusandae accusamus accusantium possimus neque quas ea. Laudantium facere obcaecati reiciendis
					dolor beatae ea architecto autem, quasi et quod magnam odit officia vitae earum magni temporibus
					culpa sequi deserunt possimus quo. Delectus, excepturi quidem odio et velit vitae ut fugiat. Omnis
					quod impedit tempora vitae voluptatum quasi odio. Libero itaque officiis fugit tempore minus.
					Similique, illum molestiae voluptate nobis ratione explicabo rem porro inventore beatae fuga ut ex
					dolores quo nihil, quaerat corporis eum labore eos sit? Nemo esse dolor tempora delectus. Sunt
					libero autem enim harum aspernatur cum quos sapiente omnis veniam, maxime aut architecto esse
					quisquam ipsum nisi repudiandae. Eius itaque enim deserunt vero atque alias, laborum impedit ipsa
					maxime, veritatis ipsam voluptatibus accusamus inventore nam expedita odio iste ducimus qui, eveniet
					sapiente. Deserunt eaque aspernatur, rerum perspiciatis hic vero, maxime beatae deleniti commodi
					aliquam odio nihil officiis esse in tempora dolorum fugiat. Nostrum, commodi. Vitae sapiente omnis
					dicta fuga impedit suscipit, architecto quisquam facilis repudiandae cupiditate deserunt minima
					culpa minus? Exercitationem labore libero deserunt incidunt error sunt possimus aliquid ab optio.
					Odit aliquam nihil unde praesentium quibusdam natus vero nobis, perspiciatis quae deserunt
					consectetur autem error in officiis quasi veniam pariatur rem, est illum dolor saepe magni dolorum?
					Deserunt soluta culpa eaque sed eius. Quos sit pariatur sunt obcaecati accusamus deserunt
					repudiandae ea minus doloribus corrupti impedit voluptatibus repellendus quibusdam nulla, cum, ipsa
					excepturi a. Quibusdam veniam reprehenderit cupiditate? Aspernatur porro ab amet quis enim in
					deserunt. Ut provident consectetur ad cupiditate molestias, dolor odit a eaque dolorem nulla eveniet
					numquam deserunt debitis eum asperiores, dolore quidem laboriosam nesciunt neque. Maxime corporis
					dignissimos hic deserunt dolores eveniet modi facilis perferendis. Pariatur maiores distinctio quo
					cumque dolores quos eius ad dicta doloremque magnam architecto natus, inventore ex asperiores
					repellat deserunt unde nihil hic blanditiis iusto iure sunt at amet. Suscipit debitis, quis deleniti
					esse, expedita sint natus eos officiis nihil quisquam repellat dicta voluptates sit! Ut nulla
					sapiente amet temporibus cupiditate, incidunt eveniet voluptatibus. Dolorem architecto officia
					delectus incidunt ad reiciendis ullam maiores fugit explicabo asperiores? Sed ullam porro minus est
					ea voluptatem a, deleniti harum quasi sequi dolor. Totam eos quia sint voluptate sequi alias
					laudantium! Minus a omnis perferendis hic! At itaque suscipit ipsam eveniet molestiae tenetur quia
					officia consectetur, placeat magni dolorem id fuga laboriosam. Sunt, vitae error fugit eius
					asperiores perferendis deleniti molestiae dolorum ipsam consequatur, iure ab iusto reiciendis, atque
					quod. Tenetur nesciunt excepturi fuga maxime sequi. Ipsum adipisci a, molestiae omnis porro nobis
					enim temporibus rerum ipsam amet eligendi numquam cupiditate iusto repellendus alias exercitationem
					vitae inventore magnam. Sit, distinctio cum labore totam, voluptate vero voluptatibus eius corporis
					dolor qui, quae deserunt ullam consequuntur sunt cupiditate. Impedit aliquam vitae, asperiores
					eveniet aut ut culpa consectetur ipsa quos voluptate debitis quaerat perferendis quod, velit
					voluptatibus inventore molestias eius quam nihil assumenda corporis tempore libero qui excepturi.
					Maxime cum soluta dicta. Eaque laboriosam rem dignissimos. Commodi nihil, eius fuga officia ab
					soluta mollitia quis ducimus, earum maiores error necessitatibus. Laborum, maiores est expedita,
					mollitia deleniti eum nulla consequuntur voluptatem cupiditate numquam, saepe enim voluptatum qui.
					Distinctio similique itaque, iusto magnam expedita aperiam at. Eos qui dolores iusto neque pariatur
					at earum provident, odio consectetur quaerat magnam explicabo recusandae consequuntur. Dolore,
					voluptatem quisquam culpa maiores dolor possimus eum accusamus reprehenderit illo. Nostrum,
					reiciendis, numquam reprehenderit ex id facilis expedita quam recusandae quo ratione minus possimus
					at distinctio corporis alias deserunt. Accusamus, deserunt at delectus consequatur voluptas quos
					amet pariatur, natus totam, esse incidunt quisquam magnam ullam libero perspiciatis nostrum
					perferendis fugit laboriosam. Possimus cumque beatae itaque nihil perspiciatis voluptatibus
					accusamus impedit ea obcaecati soluta ut molestias qui adipisci officia et accusantium enim amet
					perferendis officiis, quibusdam eos ducimus. Quia, voluptatem!
				</p>

			</div>
		</div>
	</section>
</body>
</html>