<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base:: layout(~{::  title}, ~{:: section} )}">
<head>
	<meta charset="ISO-8859-1">
	<title>View Notes</title>
</head>
<body>
	<section>
		<div class="container-fluid p-2">
			<h3 class="text-center">View Notes</h3>
			<th:block th:if=${session.msg}>
					<p class="fs-5 text-center text-success">[[${session.msg}]]</p>
					<th:block th:text="${@userServiceImp.removeSessionMessage()}"></th:block>
			</th:block>
			<div class="row">
				<div th:each="notes:${notesList}" class="col-md-10 offset-md-1 mt-2">
					<div class="card shadow p-3 mb-5 bg-body rounded">
						<div class="card-body">
							<div class="text-center">
								<i class="fa-solid fa-book-open fa-3x"></i>
							</div>
							<p><b>[[${notes.title}]]</b></p>
							<p>[[${notes.description}]]</p>
							<p>Date:- <span class="fw-bold text-success">[[${notes.date}]]</span></p>
							<div class="text-center">
								<a th:href="@{'editNotes/'+${notes.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-pen"></i>
									Edit</a>
								<a th:href="@{'deleteNotes/'+${notes.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i>
									Delete</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Add Pagination-->
			<div class="d-flex justify-content-center">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/viewNotes/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
					<li th:classappend="${currentPage== i-1 ? 'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/viewNotes/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
					<li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/viewNotes/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
			</div>
		</div>
	</section>
</body>
</html>